<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>Tiger Woods:</h1>
    <p>Eldrick Tont «Tiger» Woods (Cypress, California; 30 de diciembre de 1975) es un golfista estadounidense. Es considerado uno de los golfistas más importantes de todos los tiempos, junto a Jack Nicklaus y Arnold Palmer. Actualmente cuenta con 15 majors, convirtiéndose así en el segundo jugador con más majors ganados en la historia del golf, a tres de Nicklaus. Ha ganado cinco títulos en el Masters de Augusta, en 1997, 2001, 2002, 2005 y 2019, tres en el Abierto de los Estados Unidos, en 2000, 2002 y 2008, tres en el Abierto Británico, en 2000, 2005 y 2006, y cuatro en el Campeonato de la PGA, en 1999, 2000, 2006, 2007 y 2008.

        Además, el californiano logró ocho victorias en el WGC-Bridgestone Invitational, siete en el WGC-Campeonato Cadillac, tres en el WGC Match Play, y tres en el Tour Championship. También es el único jugador, junto a Rory Mcllroy, que ha conseguido ganar en dos ocasiones la FedEx Cup, en 2007 y 2009.
        
        Woods ha ganado 82 torneos del PGA Tour, igualando la marca de todos los tiempos de Sam Snead, y cosechado 184 top 10. Lideró la lista de ganancias en el circuito estadounidense en diez ocasiones en 1997, 1999, 2000, 2001, 2002, 2005, 2006, 2007, 2009 y 2013, y se ubicó segundo en 2003, 2008 y 2012. También se destacó dentro del PGA European Tour, donde ha obtenido 41 victorias y 90 top 10.</p>

</body>
</html>