<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Tiger Woods:</h1>
    <p>Eldrick Tont «Tiger» Woods es un golfista estadounidense. Es considerado uno de los golfistas más importantes de todos los tiempos, junto a Jack Nicklaus y Arnold Palmer. Actualmente cuenta con 15 majors, convirtiéndose así en el segundo jugador con más majors ganados en la historia del golf, a tres de Nicklaus.</p>

</body>
</html>